@page "{id:int}"
@model shopping_list.WebApp.Pages.Manage.ItemEditModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form method="post">
    <h2>Edit Good or Service</h2>
    <table>
        <tr>
            <td>Name</td>
            <td><input asp-for="Item.ItemName" /></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input asp-for="Item.ItemDescription" /></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit" asp-page="./Index" asp-page-handler="update" asp-route-id="@Model.Item.ItemId">Update Good or Service</button></td>
        </tr>
    </table>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}