@page
@model shopping_list.WebApp.Pages.Manage.Initiatives.EditModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Student</h4>
<hr />
<div>
    <div>
        <form method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Initiative.InitiativeID" />
            <div>
                <label asp-for="Initiative.InitiativeName"></label>
                <input asp-for="Initiative.InitiativeName"/>
                <span asp-validation-for="Initiative.InitiativeName"></span>
            </div>
            <div class="form-group">
                <label asp-for="Initiative.InitiativeDescription"></label>
                <input asp-for="Initiative.InitiativeDescription"/>
                <span asp-validation-for="Initiative.InitiativeDescription"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
