@page
@model shopping_list.DataLayer.Controllers.ItemController
@{
    ViewData["Title"] = "Items";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@using shopping_list.DataLayer;

<h2>Items</h2>

<table>
    <tr>
        <th>Delete?</th>
        <th>Item Name</th>
    </tr>
    @foreach (Item i in DataLayer.Controllers.ItemController.GetItems())
    {
        <tr>
            <td></td>
            <td>@i.ItemName</td>
        </tr>
    }
</table>

<form method="post" asp-page-handler="Insert">
    <input type="text" name="ItemName" />
    <input type="submit" value="Submit New Item" />
</form>